.page-container{
  width: 100%; 
  margin: auto;
  padding: 4rem;
  height: 70vh;
  /* background-color: rgb(220, 216, 216); */
   
  & h1{
    color:darkolivegreen;
    
    padding: 1rem;
  }

  &  p{
    padding: 0.4rem;
    word-spacing: 0.003rem;
    font-size:  20px ;
  } 

  & button{
    padding: 0.5rem;
    width: 7rem;
    border-radius: 5px;
    color: aliceblue;
    background-color: #000;
    margin: 1rem;
  }
}